{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="bg-light py-3 px-3">
                <h1>Formulaire de connexion</h1>
                {% if hasError %}
                <div class="alert alert-danger">
                    Le mail ou le mot de passe est invalide
                </div>
                {% endif %}
                <form action="{{ path ("account_login") }}" method="post">
                    <div class="form-group">
                        <label for="email">L'identifiant</label>
                        <input type="text" class="form-control" id="email" name="_username" required placeholder="Votre adresse mail" value="{{ lastUser}}">
                    </div>
                    <div class="form-group">
                        <label for="password">Le mot de passe</label>
                        <input type="password" class="form-control" id="password" name="_password" required placeholder="Votre mot de passe">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
